# Checkpoints de Jupyter
.ipynb_checkpoints/

# Caché de Python
__pycache__/
*.py[cod]
*.so

# Archivos de entorno
.env/
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de VSCode
.vscode/